/* src/components/SideToolbar.css */
@import './Variable.css';

.side-toolbar {
  height: 100vh;
  border-left: 4px solid var(--border-color);
  overflow-y: auto;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: var(--button-background);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--button-border);
}

.toggle-button:hover {
  border-color: var(--button-hover-border);
  color: var(--button-hover-color);
}


/* Media queries for mobile screens */
@media (max-width: 600px) {
 
}