/* src/components/SideToolbar.css */
.side-toolbar {
    width: 30vw;
    height: 100vh;
    border-left: 1px solid #ccc;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: #fff;
    color: rgb(10, 2, 2);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid grey;
  }
  
  .toggle-button:hover {
    border-color: blue;
    color: blue;
   }
   
  .toolbar-content {
    margin-top: 50px;
  }
  
  .details {
    margin-top: 20px;
  }
  