/* src/App.css */
.side-toolbar {
  width: 30vw;
  height: 100vh;
  border-left: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  background-color: #fff;
  position: relative;
}

.side-toolbar h2 {
  margin-top: 0;
}

.toggle-button {
  border: 2px solid grey;
  position: absolute;
  z-index: 1000;
  background-color: #fefefe;
  color: rgb(53, 49, 49);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.toggle-button:hover {
  border-color: #0056b3;
  color: #0056b3;
}

.details{
  display:flex;
  flex-direction: column;
  margin-top: 50px;
}